@font-face {
  font-family: 'WorkSans-Medium';
  src: url('WorkSans-Medium.eot');
  src: url('WorkSans-Medium.woff2') format('woff2'),
       url('WorkSans-Medium.woff') format('woff'),
       url('WorkSans-Medium.ttf') format('truetype'),
       url('WorkSans-Medium.svg#WorkSans-Medium') format('svg'),
       url('WorkSans-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

